body {
  background-color: #FFFCFF;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 250px;
  height: 100%;
  background: #042331;
}

.sidebar header {
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #063146;
  user-select: none;
}

.sidebar ul a {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid black;
  transition: .4s;
  text-decoration: none !important;
}

ul li:hover a {
  padding-left: 50px;
}

.sidebar ul a i {
  margin-right: 16px;
}

section {
  margin-left: 350px;
}

button {
  width: 75px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 2px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#header {
  padding: 10px;
  color: #d36c6c;
  font-size: 26px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}

#header button {
  background-color: #92a1d1;
  height: 30px;
  margin-top: 10px;
  padding-bottom: 30px;
}

#container {
  width: 770px;
}

#weekdays {
  width: 100%;
  display: flex;
  color: #247BA0;
}

#weekdays div {
  width: 100px;
  padding: 10px;
  margin-left: 10px;
}

#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

}

.day {
  width: 100px;
  padding: 5px;
  height: 90px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: white;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.day:hover {
  background-color: #e8faed;
}

.day+#currentDay {
  background-color: #e8f4fa;
}

.padding {
  cursor: default !important;
  background-color: #FFFCFF !important;
  box-shadow: none !important;
}

#toneEmoji {
  width: 60px;
  height: 60px;
  margin-left: 15px;
}

#title {
  text-decoration: none;
}

#modalBody {
  font-size: 18px;
  font: serif;
}