body {
     background-color: #FFFCFF; 
    font-family: 'Roboto', sans-serif;
  }
  *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  .sidebar{
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    background: #042331;
  }
  .sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select:none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 20px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    text-decoration: none !important;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  section{
    margin-left: 250px;
  }  
.content{
    min-height: 100vh;
    width: 100%;
}
#title{
    text-decoration: none;
}
#submit{
    margin-top: 10px;;
    margin-left: 825px;
}


.icon{
    margin-right: 10px;
}


#text{
    min-width: 900px;
    max-width: 900px;
    min-height: 70vh;
    margin-left:auto;
    margin-right: auto;
}

#navBar{
    background-color: #edf6f9 !important;
    height: 72px;
}
#alignFormandDate{
    display:flex;
    flex-direction: column;
    width: 150px;
   
}
#pageTitle{
    margin-left:auto;
    margin-right: auto;

}

#textCenter{
    margin-left: 400px;
}

